.ota,
header,
header div {
    display: -webkit-box;
    display: -ms-flexbox
}

#sec_1,
header {
    font-size: 17px;
    width: 1320px;
    line-height: 25.2px
}

#sec_1,
header,
main img {
    width: 1320px
}

#sec_1 img,
footer,
header {
    gap: 0;
    opacity: 0px
}

#sec_1,
.ota,
footer p {
    font-family: Arial, Helvetica, sans-serif
}

#sec_1,
footer p,
header {
    line-height: 25.2px
}

#sec_1,
.ota,
footer p,
header {
    font-weight: 400;
    text-align: left
}

.a1 :hover,
p:hover {
    color: red
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

header {
    font-family: Arial;
    margin: auto;
    height: 45px;
    top: 40px;
    left: 60px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

p:hover {
    cursor: pointer
}

header div {
    display: flex;
    gap: 20px
}

main img {
    height: 806px;
    margin-left: 15px;
    margin-top: 20px
}

#sec_1 {
    height: 2513.28px;
    margin: 100px auto
}

.ota {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 23px;
    line-height: 24px;
    margin-top: 50px
}

#sec_1 img {
    width: 640px;
    height: 427px;
    top: -.39px
}

footer {
    padding-left: 15px;
    margin: 30px auto;
    width: 100%;
    height: 275px;
    top: 3730px
}

footer p {
    font-size: 18px
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-top: -40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 150px
}

.a1 {
    text-decoration: none;
    color: #000
}